#digital{
    text-align: center;
    border-style: dashed;color: rgb(222, 175, 224);
}
#reso{
    margin-left: 50px ;
}
img{
    width: 300px;
}
.arrange{
display: flex;
justify-content: center;
align-items: flex-end;
}
#réseaux{
    background-image: url("./phone-checking.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
#progres{
    background-image: url("./sketch.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px;
}
#outils{
    background-image: url("./tablet-drawing.png");
    background-size: cover;
    background-position: center;
    height: 300px;
    width:300px
}
#cg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#cg a{
    padding: 10px;
}
#photos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
