body {
    /* background-image:url("kitty.jpg"); */
    background-repeat: no-repeat;
    color: rgb(255, 72, 0);
    font-family: 'Caveat', cursive;
}

article h3{
    color:rgb(255, 138, 239);
    background-color: rgb(255, 255, 174);
}
#mot{
    color: blue;
}

img{
    width: 300px;
    border: coral dotted 5px;
}

